.active-renaming {
    animation: blink-bg 1s steps(2, start) infinite;
    background-color: transparent;
    border: 1px solid red;
    @keyframes blink-bg {
        0%, 100% { background-color: rgba(173, 216, 230, 0.6); } /* lightblue */
        50%      { background-color: transparent; }
    }
}

.objectName {
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
}

.editorContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid gray;
    position: relative;
    text-align: left;
}

.nametag {
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    z-index: 10;
    color: black;
    padding: 5px 15px; 
}

.svgContainer {
    border: 1px solid black;
    background-color: #f9f9f9;
    position: absolute;
}

.foreignObjectContainer {
    overflow: visible;
    pointer-events: auto;
}